
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body{
min-height: 100vh;

font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.main-home__ill-container{
  transform: translate(20px);

}

.main-home p{
  max-width: 500px;
  text-align: center;
  margin-inline: auto;
  line-height: 1.5;
}