body{
  width: 100%;
  min-height: 100vh;



  display: flex;
  align-items: center;
  justify-content: center;
}

.main-home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.main-home__ill-container{
  transform: translate(20px);

}
.main-home p{
  max-width: 500px;
  text-align: center;
  margin-inline: auto;
}